*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_root{
    background-color: lightgray;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    z-index: -1;
}
.green_badge{
    height: 15vh;
    background-color: #0b9587;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main_container{
    width: 1000px;
    height: 95%;
    margin: auto;
    border: 1px solid;/* giusto per visualizzare */
    display: flex;
    gap: 2px;     /* giusto per visualizzare */
    padding: 2px  /* giusto per visualizzare */
}

.main_container .left_container{
   width: 30%;
   border: 1px solid blue;/* giusto per visualizzare */
    display: flex;
    flex-direction: column;
    padding: 2px; /* giusto per visualizzare */
    gap: 2px;
}
.left_container .left_navbar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
    flex-shrink: 0;
}
.left_container .notification_warning{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
    flex-shrink: 0;
}
.left_container .chat_src_bar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 30px;
    flex-shrink: 0;
}
.left_container .chat_list_container{
    flex-grow: 1;
    border: 1px solid red; /* giusto per visualizzare */
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat_list_container .chat_list_item{
    padding: 5px;
    display: flex;
    gap: 6px;
}
.chat_list_item .chat_list_item_profile_pic{
    height: 60px;
}
.chat_list_item_profile_pic img{
    height: 100%;
    border-radius: 50%;
}
.chat_list_item_info{
    flex-grow: 1;
} 



.main_container .right_container{
    width: 70%;
    border: 1px solid blue;/* giusto per visualizzare */
    flex-direction: column;
    padding: 2px; /* giusto per visualizzare */
}
.right_container .right_navbar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
}
.main_message_container{
    padding: 20px;
}
.main_message_container .single_message{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
} 
.single_message > p{
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
}
.main_message_container .sent_message_container{
    justify-content: flex-end;
}
.sent_message_container > p{
    background-color: #d5f9be;
}
.main_message_container .received_message_container{
    justify-content: flex-start;
}
.received_message_container > p{
    background-color: #fff;
}