*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_root{
    background-color: lightgray;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    z-index: -1;
}
.green_badge{
    height: 15vh;
    background-color: #0b9587;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main_container{
    width: 65%;
    height: 95%;
    margin: auto;
    border: 1px solid;/* giusto per visualizzare */
    display: flex;
    gap: 2px;     /* giusto per visualizzare */
    padding: 2px  /* giusto per visualizzare */
}

.main_container .left_container{
   width: 30%;
   border: 1px solid blue;/* giusto per visualizzare */
    display: flex;
    flex-direction: column;
    padding: 2px; /* giusto per visualizzare */
    gap: 2px;
}
.left_container .left_navbar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
    flex-shrink: 0;
}
.left_container .notification_warning{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
    flex-shrink: 0;
}
.left_container .chat_src_bar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 30px;
    flex-shrink: 0;
}
.left_container .chat_list_container{
    flex-grow: 1;
    border: 1px solid red; /* giusto per visualizzare */
    overflow: auto;
}



.main_container .right_container{
    width: 70%;
    border: 1px solid blue;/* giusto per visualizzare */
    flex-direction: column;
    padding: 2px; /* giusto per visualizzare */
}
.right_container .right_navbar{
    border: 1px solid red; /* giusto per visualizzare */
    height: 70px;
}