*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: #b2b1b1;
}

.container_root{
    background-color: lightgray;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}
.green_badge{
    height: 125px;
    background-color: #0b9587;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main_container{
    width: 1000px;
    height: 95%;
    margin: auto;
    display: flex;
    position: relative;
}

/** CONTAINER SINISTRO */
.main_container .left_container{
    width: 40%;
    display: flex;
    flex-direction: column;
}
/* navbar di sinistra */
.left_container .left_navbar{
    height: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #e9eaea;
}
.left_navbar .left_navbar_profile_pic{
    height: 100%;
}
.left_navbar .left_navbar_profile_pic img{
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}
.left_navbar .left_navbar_profile_info{
        flex-grow: 1;
}
.left_navbar .left_navbar_menu_options{
    padding: 0 10px;
}
.left_navbar .left_navbar_menu_options i{
    font-size: 20px;
    padding: 5px;
}

/* avviso delle notifiche */
.left_container .notification_container{
    background-color: #8edafa;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.notification_container .notification_icon{
    background-color: #f2fbff;
    border-radius: 50%;
    padding: 10px;
}
.notification_icon i{
    font-size: 20px;
    color: #8edafa;
}

/* barra di ricerca delle chats */
.left_container .chat_src_bar{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #f2fbff;
    padding: 10px;
}
.chat_src_bar i{
    font-size: 20px;
    padding: 0 10px;
    color: gray;
}
.chat_src_bar .chat_src_input_text{
    flex-grow: 1;
    border: white;
    padding: 5px;
}

/* lista delle chat */
.left_container .chat_list_container{
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chat_list_container .chat_list_item{
    padding: 5px;
    display: flex;
    gap: 6px;
    border-top: 1px solid lightgray;
}
.chat_list_item .chat_list_item_profile_pic{
    height: 60px;
}
.chat_list_item_profile_pic img{
    height: 100%;
    border-radius: 50%;
}
.chat_list_item_info{
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
} 
.chat_list_item_info .last_seen_chat_list{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}
.chat_list_item_info p{
    color: #b2b1b1;
}



/** CONTAINER DESTRO  */
.main_container .right_container{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.right_container .right_navbar{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #e9eaea;
    border-left: 1px solid lightgray;
}
.right_navbar .right_navbar_profile_pic{
    height: 100%;
}
.right_navbar .right_navbar_profile_pic img{
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}
.right_navbar .right_navbar_profile_info{
        flex-grow: 1;
}
.right_navbar .right_navbar_profile_info p{
    color: #b2b1b1;
}
.right_navbar .right_navbar_menu_options{
    padding: 0 10px;
}
.right_navbar .right_navbar_menu_options i{
    font-size: 20px;
    padding: 5px;
}

/* container dei messaggi */
.main_message_container{
    background-image: url(../img/mine.jpg);
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
}
.main_message_container .single_message_container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
} 
.single_message_container > div{
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    word-wrap: break-word;
}
.single_message_container .small_date{
    font-size: 12px;
    color: #b2b1b1;
    padding-top: 5px;
    text-align: right;
}

.single_message_container .sent_message_text_container{
    background-color: #d5f9be;
    align-self: end;
}
.single_message_container .received_message_text_container{
    background-color: #fff;
    align-self: start;
}

/* nuovo messaggio contenitore */
.new_message_container{
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
}
.new_message_container i{
    color: #6b7275;
}
.new_message_container .new_message_text_area{
    flex-grow: 1;
}
.new_message_container .new_message_text_area input{
    width: 100%;
    padding: 10px;
    border: white;
    border-radius: 5px;
}