<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div id="root" class="container_root">
        <div class="green_badge"></div>
        
        <!-- container centrale -->
        <div class="main_container">
            <!-- container di sinistra, che contiene la lista delle chat -->
            <div class="left_container">
                <!-- nav-bar di sinistra, che contiene il profilo dell'utente -->
                <div class="left_navbar">
                    <div class="left_navbar_profile_pic">
                        <img src="img/avatar_io.jpg" alt="immagine profilo Utente">
                    </div>
                    <div class="left_navbar_profile_info">
                        <h3>Nome Utente</h3>
                    </div>
                    <div class="left_navbar_menu_options">
                        <!-- icone -->
                        <a href="#">
                            <i class="fas fa-circle-notch"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-comment-alt"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                </div>

                <!-- avviso delle notifiche-->
                <div class="notification_container">
                    <div class="notification_icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notification_info">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- barra di ricerca chat per nome -->
                <div class="chat_src_bar">
                        <div class="chat_src_icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="text" v-model="chatSrcText" placeholder="cerca una chat" class="chat_src_input_text"> 
                </div>

                <!-- container delle chat -->
                <div class="chat_list_container">
                    <!-- single chat list item che dovrà stampare il v-for -->
                    <!--                                                uso questa funzione perché ritorna un array (in questo caso filtrato o meno a seconda del testo cercato) -->
                    <div class="chat_list_item" v-for="singleChat, i in getFilteredChats()"
                    @click="onChatClick(singleChat)">
                        <div class="chat_list_item_profile_pic">
                            <img :src="singleChat.profilePic" alt="immagine profilo {{ i }}">
                        </div>
                        <div class="chat_list_item_info">
                            <h3>{{singleChat.userName}}</h3>
                            <p>{{ singleChat.messages[singleChat.messages.length - 1].text }}</p> 
                            <p class="last_seen_chat_list" >{{singleChat.lastSeen}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- container di destra che contiene la chat selezionata -->
            <div class="right_container">
                <!-- nav-bar di destra, che contiene il profilo dell'utente con il quale si sta parlando -->
                <div class="right_navbar">
                    <div class="right_navbar_profile_pic">
                        <img :src="activeChat.profilePic">
                    </div>
                    <div class="right_navbar_profile_info">
                        <h3>{{activeChat.userName}}</h3>
                        <p v-if="activeChat.userName" class="last_seen_right_navbar">{{activeChat.lastSeen}}</p>
                    </div>
                    <div class="right_navbar_menu_options">
                        <!-- icone -->
                        <a href="#">
                            <i class="fas fa-circle-notch"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-comment-alt"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                </div>

                <div class="main_message_container">
                    <!-- messaggi di ogni singola chat -->
                    <div class="single_message_container" v-for="singleMessage in activeChat.messages">
                        <div v-if="singleMessage.status === 'received'" class="received_message_text_container">
                            <p>{{ singleMessage.text }}</p>
                            <p class="small_date">{{singleMessage.date}}</p>
                            <!-- <i class="fas fa-chevron-down received_chevron" @click="onReceivedChevronClick()"></i>
                            <div class="drop_down_received_message" :class="dropDownReceivedMessageVisible">
                                <ul>
                                    <li>
                                        <p>message info</p> 
                                    </li>
                                    <li>
                                        <p>delete message</p>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                        
                        <div v-else-if="singleMessage.status === 'sent'" class="sent_message_text_container">
                            <p>{{ singleMessage.text }}</p>
                            <p class="small_date">{{singleMessage.date}}</p>
                            <!-- <i class="fas fa-chevron-down sent_chevron" @click="onSentChevronClick()"></i>
                            <div class="drop_down_sent_message" :class="dropDownSentMessageVisible">
                                <ul>
                                    <li>
                                        <p>message info</p> 
                                    </li>
                                    <li>
                                        <p>delete message</p>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                    
                    
                    
                </div>

                <div class="new_message_container">
                    <div class="new_message_emoji">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="new_message_text_area">
                        <input type="text" name="new_message" placeholder="nuovo messaggio"
                         v-model="inputNewMessage" v-on:keyup.enter="sendMessage()">
                    </div>
                    <div class="new_message_mic">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>